#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.trialer {
  justify-content: center;
}

.videoPlayer {
  border-radius: 25px;
  height: 50%;
  width: 50%;
}

.nav-wrapper {
  display: grid;
  padding: 20px;
  justify-content: center;
}

.nav-social {
  display: inline-block;
}

.intro-wrapper {
  display: flex;
  justify-content: space-between;
}

.profile-wrapper {
  display: inline-block;;
}

.card-flex {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24em, 1fr)); /* Responsive columns */
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

hr {
  position: 0 -20px;
  border-radius: 2px;
  border: none;
  background-color: rgb(67, 230, 97);
  height: 4px;
  width: 100%;
  margin: 20px auto;
}

.profile {
  height: 18em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.profile:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.profile.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.social {
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms
              transform 300ms cubic-bezier(0.5, 0, 0.5, 1),
              opacity 250ms linear;
}
.social:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
  transform: scale(1.1);
  cursor: pointer;
}
.social.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes modalopen{
  from{opacity: 0;}
  to{opacity: 1;}
}

.read-the-docs {
  color: #888;
}

@media (max-width: 768px) {
  #root {
    max-width: 768;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .nav-wrapper {
    padding: 20px;
    justify-content: center;
  }
  
  .nav-social {
    display: inline-block;
  }
  
  .intro-wrapper {
    display: inline-block;
    justify-content: space-between;
  }
  
  .profile-wrapper {
    display: inline-block;;
  }

  .card-grid {
    max-width: 768px;
  }

  .videoPlayer {
    height: 90%;
    width: 90%;
  }
}
