.card {
    position: relative;
    width: 100%;
    max-width: 18em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

img.card {
    width: 100%;
    border-radius: 25px;
    transition:
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

img.card:hover,
img.card:focus {
    transform: scale(1.1);
    opacity: .75;
    cursor: pointer;
}

.icon-wrapper {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.platform-icon-light {
    color: white;
}

.platform-icon-dark {
    color: rgb(23, 37, 37);
}

@media (max-width: 996px) {
    .card {
        max-width: 24em;
    }
}
